{
  "openapi" : "3.0.0",
  "servers" : [ {
    "description" : "Comprando.io API V1",
    "url" : "http://api.comprando.io/v1/"
  }, {
    "description" : "SwaggerHub API Auto Mocking",
    "url" : "https://virtserver.swaggerhub.com/Comprando3/Comprando/1.0.0"
  } ],
  "info" : {
    "version" : "1.0.0",
    "title" : "Comprando API V1",
    "description" : "This is the first version of the API used for the  **mobile clients** (*iOS and Andriod*). It will focus on the buyer's operations.  Visit [http://comprando.io/](http://comprando.io/). Jira [http://jira.comprando.io/](http://jira.comprando.io/), Documentation and Wiki [http://docs.comprando.io](http://docs.comprando.io), API Documentation [http://apidocs.comprando.io/](http://apidocs.comprando.io/) and the Stagging server [http://stagging.comprando.io/](http://stagging.comprando.io/)."
  },
  "paths" : {
    "/authenticate" : {
      "post" : {
        "summary" : "Authenticate user and get JWT",
        "description" : "This is the entry point for the API you have to get the JSON Web Token to access the rest of API resources.\n",
        "security" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "erros" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "example" : {
                    "errors" : [ "Invalid Email/Mobile or Password" ]
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "You have to provide some paramters to authenticate, send Email or Mobile and password",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  },
                  "password" : {
                    "type" : "string"
                  }
                },
                "required" : [ "email", "password" ],
                "example" : {
                  "email" : "islam.askar@gmail.com",
                  "password" : "123456"
                }
              }
            }
          }
        }
      }
    },
    "/register" : {
      "post" : {
        "summary" : "Register user to the system",
        "description" : "Add a user to the system\n",
        "security" : [ ],
        "responses" : {
          "201" : {
            "description" : "Entity Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "erros" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "example" : {
                    "email" : [ "has already been taken" ]
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "To register send the following Full name, Email, Mobile, Password and Avatar as base64 string",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "user" : {
                    "type" : "object",
                    "properties" : {
                      "full_name" : {
                        "type" : "string"
                      },
                      "mobile" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      },
                      "password" : {
                        "type" : "string"
                      },
                      "avatar" : {
                        "type" : "string",
                        "format" : "byte"
                      },
                      "provider" : {
                        "type" : "string",
                        "enum" : [ "google_oauth2", "facebook_oauth2" ]
                      },
                      "uid" : {
                        "type" : "string",
                        "description" : "Facebook Client ID / Google ID"
                      },
                      "country_id" : {
                        "type" : "integer"
                      },
                      "verification_method" : {
                        "type" : "string",
                        "enum" : [ "call", "sms" ]
                      }
                    },
                    "required" : [ "email", "password", "mobile", "verification_method", "country_id" ]
                  }
                },
                "example" : {
                  "user" : {
                    "full_name" : "Islam Askar",
                    "mobile" : 1.111100956E9,
                    "email" : "islam.askar@gmail.com",
                    "password" : "123456",
                    "avatar" : "data:image/jpeg;base64,/9j/4AAQ....",
                    "provider" : "google_oauth2",
                    "uid" : "1488792969",
                    "verification_method" : "call",
                    "country_id" : 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mobile/verify" : {
      "post" : {
        "summary" : "Verify the mobile number with the code sent",
        "description" : "Send verification code to Twilio to complete the verification process",
        "requestBody" : {
          "description" : "send the verification code in the body",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "verification_code" : {
                    "type" : "string"
                  }
                },
                "example" : {
                  "verification_code" : "1576"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Ok, Phone verified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "example" : {
                    "message" : "Mobile is successfully verified!"
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "erros" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "example" : {
                    "message" : [ "Wrong verification code" ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mobile/resend" : {
      "get" : {
        "summary" : "Resend the verification code",
        "description" : "Resend the verification code again to the registered user mobile",
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "example" : {
                    "message" : "New SMS sent!"
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "erros" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "example" : {
                    "message" : [ "invalid country_code" ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/profile" : {
      "patch" : {
        "summary" : "Edit logged in user profile",
        "description" : "Update the user info",
        "requestBody" : {
          "description" : "To register send the following Full name, Email, Mobile, Password and Avatar as base64 string",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "user" : {
                    "type" : "object",
                    "properties" : {
                      "full_name" : {
                        "type" : "string"
                      },
                      "mobile" : {
                        "type" : "string"
                      },
                      "email" : {
                        "type" : "string"
                      },
                      "password" : {
                        "type" : "string"
                      },
                      "avatar" : {
                        "type" : "string",
                        "format" : "byte"
                      }
                    },
                    "required" : [ "email", "password", "mobile" ]
                  }
                },
                "example" : {
                  "user" : {
                    "full_name" : "Islam Askar",
                    "mobile" : 1.111100956E9,
                    "email" : "islam.askar@gmail.com",
                    "password" : "123456",
                    "avatar" : "data:image/jpeg;base64,/9j/4AAQ...."
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "User data updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "user" : {
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "integer"
                        },
                        "email" : {
                          "type" : "string"
                        },
                        "full_name" : {
                          "type" : "string"
                        },
                        "mobile" : {
                          "type" : "string"
                        },
                        "country_id" : {
                          "type" : "integer"
                        }
                      }
                    }
                  },
                  "example" : {
                    "user" : {
                      "id" : 1,
                      "email" : "islam.askar@gmail.com",
                      "full_name" : "Islam Askar",
                      "mobile" : "1111100956",
                      "avatar" : {
                        "url" : "/uploads/user/avatar/6/avatar.jpeg"
                      },
                      "mobile_verified" : true
                    }
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "erros" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    }
                  },
                  "example" : {
                    "email" : [ "has already been taken" ]
                  }
                }
              }
            }
          }
        }
      },
      "get" : {
        "summary" : "get profile data",
        "description" : "returns profile's data of the current user",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/countries" : {
      "get" : {
        "summary" : "List all supported countries",
        "description" : "Return all the supported countries with country code and the flag",
        "security" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned the countries",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "countries" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "country_code" : {
                            "type" : "string"
                          },
                          "flag" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : {
                    "countries" : [ {
                      "id" : 1,
                      "name" : "Egypt",
                      "country_code" : "20",
                      "flag" : {
                        "url" : "/uploads/country/flag/1/rsz_flag_of_egypt_variant.png"
                      }
                    }, {
                      "id" : 2,
                      "name" : "KSA",
                      "country_code" : "966",
                      "flag" : {
                        "url" : null
                      }
                    } ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cities" : {
      "get" : {
        "summary" : "List all cities for offshore",
        "description" : "Return all cities",
        "security" : [ ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned the cities",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "cities" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "name" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : {
                    "cities" : [ {
                      "id" : 1,
                      "name" : "Cairo"
                    } ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/regions" : {
      "get" : {
        "summary" : "List all regions for nearby",
        "description" : "Return all regions based on country or city parameterse",
        "security" : [ ],
        "parameters" : [ {
          "in" : "query",
          "name" : "country_id",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the country to filter with"
        }, {
          "name" : "city_id",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the city to filter with"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned the regions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "cities" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "name" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : {
                    "regions" : [ {
                      "id" : 1,
                      "name" : "New Cairo"
                    } ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories" : {
      "get" : {
        "summary" : "List shops categories",
        "description" : "Return all the shop categories",
        "security" : [ ],
        "parameters" : [ {
          "in" : "query",
          "name" : "category_type",
          "description" : "Pass the category type it's either {shop} OR {product}, if not passed the default will be {shop}",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned a list of shops categories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "image" : {
                        "type" : "object",
                        "properties" : {
                          "url" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  },
                  "example" : [ {
                    "id" : 1,
                    "name" : "Bakery",
                    "description" : "Test Desc",
                    "image" : {
                      "url" : "/uploads/category/image/1/image1.jpg"
                    }
                  }, {
                    "id" : 3,
                    "name" : "Clothes",
                    "description" : "Test Desc",
                    "image" : {
                      "url" : "/uploads/category/image/3/image3.jpg"
                    }
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/shops" : {
      "get" : {
        "summary" : "List nearby/offshore shops based on parameters",
        "description" : "List nearby/offshore shops based on parameters",
        "security" : [ ],
        "parameters" : [ {
          "name" : "shop_type",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "description" : "Determine the type of the desired shops ( nearby / offshore )"
        }, {
          "name" : "shop_name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "description" : "Specifies shop name to search with"
        }, {
          "name" : "category_id",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies category id to filter shops"
        }, {
          "name" : "city_id",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the city to search in"
        }, {
          "name" : "region_id",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the region to search in"
        }, {
          "name" : "sort_by",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "description" : "filter by (rate,delivery_time,most_popular,recommended)"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned a list of shops",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "name" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "integer"
                      },
                      "branches" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "type" : "integer"
                            },
                            "name" : {
                              "type" : "string"
                            },
                            "open" : {
                              "type" : "boolean"
                            },
                            "rate" : {
                              "type" : "integer"
                            },
                            "delivery_time" : {
                              "type" : "string"
                            },
                            "shop" : {
                              "type" : "object",
                              "properties" : {
                                "id" : {
                                  "type" : "integer"
                                },
                                "name" : {
                                  "type" : "string"
                                },
                                "description" : {
                                  "type" : "string"
                                },
                                "shop_type" : {
                                  "type" : "string"
                                },
                                "logo" : {
                                  "type" : "object",
                                  "properties" : {
                                    "url" : {
                                      "type" : "string"
                                    }
                                  }
                                },
                                "featured" : {
                                  "type" : "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : [ {
                    "name" : "Bookstores",
                    "id" : 1,
                    "branches" : [ {
                      "id" : 1,
                      "name" : "Downtwon branch",
                      "rate" : 5,
                      "open" : false,
                      "delivery_time" : null,
                      "shop" : {
                        "id" : 1,
                        "name" : "Alef",
                        "description" : "One of biggest bookstores in Egypt",
                        "shop_type" : "Nearby",
                        "logo" : {
                          "url" : "http://stagging.comprando.io/uploads/shop/logo/1/ALEF-bookstores-logo.png"
                        },
                        "featured" : false
                      }
                    }, {
                      "id" : 3,
                      "name" : "Down twon",
                      "rate" : 5,
                      "open" : false,
                      "delivery_time" : null,
                      "shop" : {
                        "id" : 2,
                        "name" : "Dar Alshrouq",
                        "description" : "Biggest publisher in Egypt",
                        "shop_type" : "Nearby",
                        "logo" : {
                          "url" : "http://stagging.comprando.io/uploads/shop/logo/2/index.png"
                        },
                        "featured" : true
                      }
                    } ]
                  }, {
                    "name" : "Backery",
                    "id" : 3,
                    "branches" : [ {
                      "id" : 2,
                      "name" : "El Tessien",
                      "rate" : 5,
                      "open" : true,
                      "delivery_time" : null,
                      "shop" : {
                        "id" : 3,
                        "name" : "La Poire",
                        "description" : "Nice",
                        "shop_type" : "Nearby",
                        "logo" : {
                          "url" : "http://stagging.comprando.io/uploads/shop/logo/3/194173_La_Poire.png"
                        },
                        "featured" : true
                      }
                    } ]
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/shops/{shop_id}/branches/{id}" : {
      "get" : {
        "summary" : "List all featured shops for the slider",
        "description" : "Return all featured shops optianly on category_id",
        "security" : [ ],
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the shop"
        }, {
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the branch"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned the shop details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "integer"
                    },
                    "shop_name" : {
                      "type" : "string"
                    },
                    "name" : {
                      "type" : "string"
                    },
                    "open_at" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "close_at" : {
                      "type" : "array",
                      "items" : {
                        "type" : "string"
                      }
                    },
                    "rate" : {
                      "type" : "integer"
                    },
                    "cover_image" : {
                      "type" : "object",
                      "properties" : {
                        "url" : {
                          "type" : "string"
                        }
                      }
                    },
                    "logo" : {
                      "type" : "object",
                      "properties" : {
                        "url" : {
                          "type" : "string"
                        }
                      }
                    }
                  },
                  "example" : {
                    "id" : 1,
                    "shop_name" : "Alef",
                    "name" : "Downtwon branch",
                    "open_at" : [ "10 am" ],
                    "close_at" : [ "10 pm" ],
                    "rate" : 5,
                    "delivery_time" : null,
                    "cover_image" : {
                      "url" : null
                    },
                    "logo" : {
                      "url" : null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/featured" : {
      "get" : {
        "summary" : "List all featured shops for the slider",
        "description" : "Return all featured shops optianly on category_id",
        "security" : [ ],
        "parameters" : [ {
          "in" : "query",
          "name" : "category_id",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies the id of the category to filter with"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned the shops",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "shops" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "name" : {
                            "type" : "string"
                          },
                          "featured_image" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          },
                          "logo" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : {
                    "shops" : [ {
                      "id" : 1,
                      "name" : "Alef",
                      "featured_image" : {
                        "url" : "http://stagging.comprando.io/uploads/shop/featured_image/1/20160918182926_26945_oZH.jpg"
                      },
                      "logo" : {
                        "url" : "http://stagging.comprando.io/uploads/shop/logo/1/alef.jpg"
                      }
                    } ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{shop_id}/products" : {
      "get" : {
        "summary" : "List shop products",
        "description" : "List shop products with their categories",
        "security" : [ ],
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true,
          "description" : "The shop id which the products belong to"
        }, {
          "name" : "product_name",
          "in" : "query",
          "schema" : {
            "type" : "string"
          },
          "description" : "Specifies product name to search with"
        }, {
          "name" : "category_id",
          "in" : "query",
          "schema" : {
            "type" : "integer"
          },
          "description" : "Specifies category id to filter products"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned a list of shop products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "name" : {
                        "type" : "string"
                      },
                      "id" : {
                        "type" : "integer"
                      },
                      "products" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "type" : "integer"
                            },
                            "name" : {
                              "type" : "string"
                            },
                            "description" : {
                              "type" : "string"
                            },
                            "price" : {
                              "type" : "integer"
                            },
                            "image" : {
                              "type" : "string"
                            },
                            "number_of_variants" : {
                              "type" : "integer"
                            },
                            "variant_name" : {
                              "type" : "string"
                            }
                          },
                          "required" : [ "id", "name", "price", "image", "number_of_variants" ]
                        }
                      }
                    }
                  },
                  "example" : [ {
                    "name" : "Novels",
                    "id" : 2,
                    "products" : [ {
                      "id" : 1,
                      "name" : "Davinci's code",
                      "description" : "Dan brown famous novel",
                      "price" : 30,
                      "image" : null,
                      "number_of_variants" : 1,
                      "variant_name" : "big"
                    } ]
                  } ]
                }
              }
            }
          }
        }
      }
    },
    "/shops/{shop_id}/products/{id}/related" : {
      "get" : {
        "summary" : "List shop product's related products",
        "description" : "List shop products with their categories",
        "security" : [ ],
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true,
          "description" : "The shop id which the products belong to"
        }, {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true,
          "description" : "The product id to find it's related products"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned a list related products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "name" : {
                        "type" : "string"
                      },
                      "description" : {
                        "type" : "string"
                      },
                      "images" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "url" : {
                              "type" : "string"
                            }
                          }
                        }
                      },
                      "price" : {
                        "type" : "number"
                      },
                      "master_variant_id" : {
                        "type" : "integer"
                      },
                      "variants" : {
                        "type" : "array",
                        "items" : {
                          "type" : "object",
                          "properties" : {
                            "id" : {
                              "type" : "integer"
                            },
                            "name" : {
                              "type" : "string"
                            },
                            "price" : {
                              "type" : "number"
                            }
                          }
                        }
                      }
                    },
                    "example" : {
                      "id" : 1,
                      "name" : "Davinci's code",
                      "description" : "one of the best books",
                      "images" : [ ],
                      "price" : 50,
                      "master_variant_id" : 1,
                      "variants" : [ {
                        "id" : 1,
                        "name" : "paperover",
                        "price" : 30
                      }, {
                        "id" : 4,
                        "name" : "hardcover",
                        "price" : 50
                      } ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{shop_id}/products/{id}" : {
      "get" : {
        "summary" : "View prodct details",
        "description" : "View prodct details with its category",
        "security" : [ ],
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_id",
          "required" : true,
          "schema" : {
            "type" : "integer"
          },
          "description" : "The shop id which the product belongs to"
        }, {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true,
          "description" : "The product id which will be displayed"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned an object of product contains the product details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "product" : {
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "integer"
                        },
                        "name" : {
                          "type" : "string"
                        },
                        "description" : {
                          "type" : "string"
                        },
                        "images" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          }
                        },
                        "variants" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "id" : {
                                "type" : "integer"
                              },
                              "name" : {
                                "type" : "string"
                              },
                              "price" : {
                                "type" : "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : {
                    "id" : 1,
                    "name" : "Davinci's code",
                    "description" : "one of the best books",
                    "images" : [ ],
                    "variants" : [ {
                      "id" : 1,
                      "name" : "paperover",
                      "price" : 30
                    }, {
                      "id" : 4,
                      "name" : "hardcover",
                      "price" : 50
                    } ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{shop_id}/products/{product_id}/variants" : {
      "get" : {
        "summary" : "List product variants",
        "description" : "Get the product variants with the parent product object",
        "security" : [ ],
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true,
          "description" : "The shop id which the product belongs to"
        }, {
          "in" : "path",
          "name" : "product_id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true,
          "description" : "The product id which will you get its variants"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully returned an object of product contains the product details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "product" : {
                      "type" : "object",
                      "properties" : {
                        "id" : {
                          "type" : "integer"
                        },
                        "name" : {
                          "type" : "string"
                        },
                        "variants" : {
                          "type" : "array",
                          "items" : {
                            "type" : "object",
                            "properties" : {
                              "id" : {
                                "type" : "integer"
                              },
                              "name" : {
                                "type" : "string"
                              },
                              "price" : {
                                "type" : "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example" : {
                    "id" : 1,
                    "name" : "Davinci's code",
                    "variants" : [ {
                      "id" : 1,
                      "name" : "paperover",
                      "price" : 30
                    }, {
                      "id" : 4,
                      "name" : "hardcover",
                      "price" : 50
                    } ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reset-password" : {
      "post" : {
        "summary" : "Forget password instructions",
        "description" : "Send forget password instructions to the user's email address\n",
        "security" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "message" : {
                      "type" : "string",
                      "example" : "An email has been sent to your email, please follow the instructions"
                    }
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "message" : {
                      "type" : "string",
                      "example" : "Sorry, this email is invalid"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "You have to provide the user's email address to reset his password",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "email" : {
                    "type" : "string"
                  }
                },
                "required" : [ "email" ],
                "example" : {
                  "email" : "islam.askar@gmail.com"
                }
              }
            }
          }
        }
      }
    },
    "/promocode/check" : {
      "get" : {
        "summary" : "check validity of a promocode",
        "description" : "check validity of the promocode sent in query params",
        "parameters" : [ {
          "in" : "query",
          "name" : "promocode",
          "schema" : {
            "type" : "string"
          },
          "description" : "The promo code to check it's validity"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "is_valid" : {
                      "type" : "boolean"
                    },
                    "message" : {
                      "type" : "string"
                    }
                  },
                  "example" : {
                    "is_valid" : true,
                    "message" : "This promo-code is valid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shop_orders/{shop_order_id}/complain" : {
      "get" : {
        "summary" : "show a user's complain on one order",
        "description" : "show a user's complain on one shop order",
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_order_id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "id" : {
                      "type" : "integer"
                    },
                    "user_name" : {
                      "type" : "string"
                    },
                    "category_name" : {
                      "type" : "string"
                    },
                    "created_at" : {
                      "type" : "string"
                    },
                    "human_readable_time" : {
                      "type" : "string"
                    },
                    "content" : {
                      "type" : "string"
                    },
                    "replies" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "complain_id" : {
                            "type" : "integer"
                          },
                          "content" : {
                            "type" : "string"
                          },
                          "created_at" : {
                            "type" : "string"
                          },
                          "user_name" : {
                            "type" : "string"
                          },
                          "org" : {
                            "type" : "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "create a compalin on a shop order",
        "description" : "user can create a complain on a shop order",
        "parameters" : [ {
          "in" : "path",
          "name" : "shop_order_id",
          "schema" : {
            "type" : "integer"
          },
          "required" : true
        } ],
        "responses" : {
          "201" : {
            "description" : "Entity Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "message" : {
                      "type" : "string"
                    }
                  },
                  "example" : {
                    "message" : "Complain was successfully created."
                  }
                }
              }
            }
          },
          "422" : {
            "description" : "Unprocessable Entity",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "complain_category_id" : {
                    "type" : "integer"
                  },
                  "content" : {
                    "type" : "string"
                  }
                },
                "example" : {
                  "complain_category_id" : 1,
                  "content" : "This shop sent me wrong items"
                }
              }
            }
          }
        }
      }
    },
    "/payment_methods" : {
      "get" : {
        "summary" : "list available payment methods for buyers to use",
        "description" : "list all payment methods supported by the application to give variety of options for the buyers to pay for their orders",
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "payment_type" : {
                        "type" : "string"
                      }
                    },
                    "example" : {
                      "id" : 1,
                      "payment_type" : "Cash on Delivery"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wishlist" : {
      "get" : {
        "summary" : "return the user's wishlist items",
        "description" : "listing all items that have been added to the user's wishlist along with needed info about each item (shop, branch, variant . . . etc.)",
        "parameters" : [ {
          "name" : "auth_token",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "shops" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "shop_name" : {
                            "type" : "string"
                          },
                          "branch_name" : {
                            "type" : "string"
                          },
                          "logo" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          },
                          "items" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "id" : {
                                  "type" : "integer"
                                },
                                "product_name" : {
                                  "type" : "string"
                                },
                                "variant_name" : {
                                  "type" : "string"
                                },
                                "product_id" : {
                                  "type" : "integer"
                                },
                                "variant_id" : {
                                  "type" : "integer"
                                },
                                "image" : {
                                  "type" : "object",
                                  "properties" : {
                                    "url" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "summary" : "add new item to the user's wishlist and display it",
        "description" : "listing all items that have been added to the user's wishlist (including the newly-added item) along with needed info about each item (shop, branch, variant . . . etc.)",
        "responses" : {
          "201" : {
            "description" : "Entity Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "shops" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "shop_name" : {
                            "type" : "string"
                          },
                          "branch_name" : {
                            "type" : "string"
                          },
                          "logo" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          },
                          "items" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "id" : {
                                  "type" : "integer"
                                },
                                "product_name" : {
                                  "type" : "string"
                                },
                                "variant_name" : {
                                  "type" : "string"
                                },
                                "product_id" : {
                                  "type" : "integer"
                                },
                                "variant_id" : {
                                  "type" : "integer"
                                },
                                "image" : {
                                  "type" : "object",
                                  "properties" : {
                                    "url" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "summary" : "logical delete of an item from the user's wishlist",
        "description" : "removing (hiding) an item from the user's wishlist while perserving it (archiving) within the wishlist to keep history",
        "responses" : {
          "202" : {
            "description" : "Entity Deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "shops" : {
                      "type" : "array",
                      "items" : {
                        "type" : "object",
                        "properties" : {
                          "id" : {
                            "type" : "integer"
                          },
                          "shop_name" : {
                            "type" : "string"
                          },
                          "branch_name" : {
                            "type" : "string"
                          },
                          "logo" : {
                            "type" : "object",
                            "properties" : {
                              "url" : {
                                "type" : "string"
                              }
                            }
                          },
                          "items" : {
                            "type" : "array",
                            "items" : {
                              "type" : "object",
                              "properties" : {
                                "id" : {
                                  "type" : "integer"
                                },
                                "product_name" : {
                                  "type" : "string"
                                },
                                "variant_name" : {
                                  "type" : "string"
                                },
                                "product_id" : {
                                  "type" : "integer"
                                },
                                "variant_id" : {
                                  "type" : "integer"
                                },
                                "image" : {
                                  "type" : "object",
                                  "properties" : {
                                    "url" : {
                                      "type" : "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rating" : {
      "post" : {
        "summary" : "user gives rating to an order he made",
        "description" : "user gives separate ratings to each sub-order within the main order",
        "responses" : {
          "201" : {
            "description" : "Entity Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "message" : {
                      "type" : "string"
                    }
                  },
                  "example" : {
                    "message" : "hank you for your rating!"
                  }
                }
              }
            }
          }
        },
        "requestBody" : {
          "description" : "to give a rating to sub-order, send the following (branch_id, shop_order_id, rating)",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "rating" : {
                    "type" : "object",
                    "properties" : {
                      "branch_id" : {
                        "type" : "integer"
                      },
                      "shop_order_id" : {
                        "type" : "integer"
                      },
                      "rating" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/addresses" : {
      "get" : {
        "summary" : "list all available addresses for current user",
        "description" : "list all available addresses for current user",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "properties" : {
                      "id" : {
                        "type" : "integer"
                      },
                      "street" : {
                        "type" : "string"
                      },
                      "building_number" : {
                        "type" : "string"
                      },
                      "appartment_number" : {
                        "type" : "string"
                      },
                      "floor_number" : {
                        "type" : "string"
                      },
                      "landmark" : {
                        "type" : "string"
                      },
                      "latitude" : {
                        "type" : "string"
                      },
                      "longitude" : {
                        "type" : "string"
                      },
                      "region" : {
                        "type" : "string"
                      },
                      "city" : {
                        "type" : "string"
                      },
                      "country" : {
                        "type" : "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "User" : {
        "type" : "object",
        "properties" : {
          "auth_token" : {
            "type" : "string",
            "example" : "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxfQ.Hl3PblT_RcxmeMKCr-CTGdsgK_Yqh3RRp6nrA0YZueA"
          },
          "user" : {
            "type" : "object",
            "properties" : {
              "id" : {
                "type" : "integer",
                "example" : 1
              },
              "email" : {
                "type" : "string",
                "example" : "islam.askar@gmail.com"
              },
              "full_name" : {
                "type" : "string",
                "example" : "Islam Askar"
              },
              "mobile" : {
                "type" : "string",
                "example" : 1.111100956E9
              },
              "avatar" : {
                "type" : "object",
                "properties" : {
                  "url" : {
                    "type" : "string",
                    "example" : "/uploads/user/avatar/6/avatar.jpeg"
                  }
                }
              },
              "mobile_verified" : {
                "type" : "boolean",
                "example" : false
              }
            }
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  },
  "security" : [ {
    "bearerAuth" : [ ]
  }, {
    "accessCode" : [ "read", "write" ]
  } ]
}